{% extends "basePage.html" %}
{%block title%}Ride With Friends{%endblock%}
{%block css%}
<link href="/static/css/home.css" rel="stylesheet">
{%endblock%}
{%block content%}
<div class="container theme-showcase" role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="row">
      Bike with Friends is a social networking Google Glass app for bikers that I am developing for my computer science senior project. The app with be a biking app that will be able to track users rides while giving them updates during the ride much like existing apps like Strava or MapMyRide. However, Bike with Friends will also be able to notify users of other people using the app riding nearby so that they can meet up and ride together.
    </div>
  </div>
</div>
{%endblock%}
