{% extends "basePage.html" %}
{%block title%}Ride With Friends{%endblock%}
{%block css%}
<link href="/static/css/home.css" rel="stylesheet">
{%endblock%}
{%block content%}
<div class="container theme-showcase" role="main">

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Ride with Friends</h1>
    <div class="row">
      <div class="col-md-6">
        <h2>About</h2>
        <p>Ride with Friends is a social networking Google Glass app for bikers that I am developing for my computer science senior project. The app with be a biking app that will be able to track users rides while giving them updates during the ride much like existing apps like Strava or MapMyRide. However, Bike with Friends will also be able to notify users of other people using the app riding nearby so that they can meet up and ride together.</p>
      </div>
      <div class="col-md-6" style="text-align:center;">
          <img src="/static/images/ggBike.jpg" width="70%" height="70%"></img>
     </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align:center;">
          <img src="/static/images/googleglass.jpg" width="70%" height="70%"></img>
      </div>
      <div class="col-md-6">
        <h2>Download</h2>
        <p>You can download the app from my github here <a href="https://github.com/offDaCharts/CMSI402" target="_blank"><img src="/static/images/github-sociocon.png" title="GitHub" alt="GitHub" width="48" border="0" height="48"></a></p>
      </div>
    </div>
  </div>
</div>

</div>
{%endblock%}
